pkgbase = ttf-iosevka-haskell-git
	pkgdesc = A slender monospace sans-serif and slab-serif typeface. Built with Haskell ligatures.
	pkgver = r1145.68b55c13
	pkgrel = 1
	url = https://be5invis.github.io/Iosevka/
	arch = any
	license = custom:OFL
	makedepends = git
	makedepends = nodejs
	makedepends = npm
	makedepends = ttfautohint
	makedepends = otfcc
	depends = fontconfig
	depends = xorg-font-utils
	source = git+https://github.com/be5invis/Iosevka
	source = private-build-plans.toml
	md5sums = SKIP
	md5sums = 26bc960aa7c9b9ba587798bcf76d654e

pkgname = ttf-iosevka-haskell-git

